.cr_image{
    width: 100%;
    margin-right: 2rem;
}

.cr_sliderbg{
    background-color:#F5F6FA;
}

.cr_textbox{
    padding: 2rem;
    background-color: white;
    margin-top: 2rem;
   
}

.cr_clientName_Section{
 background-color: #F5F6FA;
 padding: 1rem;
}