.containerrs{
 margin-left: 100px;
 margin-right: 60px;
 border-top: solid  orangered ;


.list-footer{
  list-style-type: none;
  padding-left: 2px;
}
.footer-social-icons {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.footer-social-icons a {
  color: #000;
  text-decoration: none;
}

.footer-social-icons a:hover {
  color: #007bff;
}
.whatshop{
 
  color: hsl(160, 35%, 50%);
  border: #000;
  
}
.instra{

  color: hsl(340, 90%, 51%);
}
.footer-bottom-boxed .bg-white{
  
}
.footer-bottom-boxed{
  padding: 25px 50px;
}



 .social-media{
  text-align: center;
 }
 .list{
  list-style-type: none;
 }
 .bbox{
  padding-top: 40px;
 }
 .footer-bottom-boxed{
  background-color: rgb(239, 244, 249);
  margin-bottom: 20px;
  
  box-shadow:0 0 8px 1px rgb(218, 215, 208);
  transition: ease-out 0.2s;
 }

 .tblack{
  color: #000;
 }
 .lblack
{
  margin-top: 20px;
  color: #000;
  font-weight: 700;
}
